#mainCont {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  border: 4px solid black;
  padding: 10px;
}

#cont {
  border: 2px solid black;
}

@media screen and (max-width: 768px) {
  #mainCont {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media screen and (max-width: 480px) {
  #mainCont {
    grid-template-columns: 1fr; 
  }
}
