*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 2rem;
}

.dark-theme {
  background: #000000;
  color: rgb(206, 20, 20);
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  

  background: #f8f8f8;
}
#navbar button {
  
 
  margin: 5px;
  /* padding: 10px 20px; */
  cursor: pointer;
}

#character-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #ccc;
}
#character-detail img{
  width: 200px;
  height: 200px;
}
#character-detail h2{
  margin: 10px 0;
}



.pagination{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;  
  
}
.pagination button{
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}